/* You can add global styles to this file, and also import other style files */

@import "~golden-layout/src/css/goldenlayout-base.css";
@import "~golden-layout/src/css/goldenlayout-light-theme.css";

body, html {
    width: 100vw;
    height: calc(100vh - 20px);
    padding: 0;
    margin: 0;
}

.lm_content {
    background: #fffefe;
    border: 1px solid #989898;
}

.lm_splitter {
    background: #a2a2a2;
    opacity: 0.7;
    transition: opacity 200ms ease;
}

.lm_popin{
    top: 0 !important;
}

#alarm-container .ui-table.ui-widget {
    /*min-width: 1540px;*/
}

#in-alarm-container .ui-table.ui-widget {
    /*min-width: 1540px;*/
}

#alarm-container .ui-dialog .ui-table.ui-widget {
    min-width: 755px !important;
}

#events-table-container .ui-table.ui-widget {
    /*min-width: 1100px;*/
    padding: 0.25rem;
    border-radius: 5px;
}

#alarm-container .ui-tabview .ui-tabview-panels {
    border: 1px solid #ffffff00 !important;
    padding: 0;
}

.ev-html-marker p {
    margin-top: 0 !important;
    margin-bottom: 3px !important;
}

.ev-html-marker h4 {
    text-align: center;
}

.my-inline-form-group {
    display: flex;
    align-items: center;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0 !important;
}

.my-inline-form-label {
    margin-bottom: 0;
    margin-right: 10px;
}

.my-inline-form-control {
    width: auto !important;
}

.ev-date-range-control {
    padding-left: 10px;
    min-width: 840px;
}

.ev-error {
    border: 1px solid red !important;
}

.cdk-overlay-backdrop {
    z-index: 998 !important;
}

.cdk-overlay-container {
    z-index: 1004 !important;
}

.ui-widget-overlay.ui-dialog-mask {
    z-index: 1000 !important;
}

.action-detail-form .ui-dialog.ui-widget {
    z-index: 1004 !important;
}

.ui-table-tbody > tr.ui-state-highlight .row-edit-btn {
    color: #ffffff !important;
}

#alarm-container .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    font-size: 1.15em;
}

.alarm-edit-form .ui-dialog.ui-widget {
    z-index: 1003 !important;
}

.ev-div-marker.selected {
    outline: 2px dashed red !important;
}

.ev-marker-alarm.selected {
    outline: 2px dashed red !important;
}

.ev-marker-alarm > div {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
}

.ev-marker-alarm > div > span {
    line-height: 30px;
    color: white;
    padding: 5px
}

.ev-marker-in-alarm.selected {
    outline: 2px dashed red !important;
}

.ev-marker-in-alarm > div {
    width: 30px;
    height: 30px;
    text-align: center;
}

.ev-marker-in-alarm > div > span {
    line-height: 30px;
    color: white;
    padding: 5px
}

/**
=========================================================
 */
.ev-sv-critical {
    background-color: #f90837;
}

.ev-sv-major {
    background-color: #0056b3;
}

.ev-sv-minor {
    background-color: #19692c;
}

.ev-sv-warning {
    background-color: #ffc107;
}

.ev-sv-information {
    background-color: #17a2b8;
}

.ev-sv-critical {
    background-color: #f90837;
}

/**
=========================================================
 */
.ev-mk-critical {
    background-color: rgba(249, 8, 55, 0.7);
}

.ev-mk-major {
    background-color: rgba(0, 86, 179, 0.71);
}

.ev-mk-minor {
    background-color: rgba(25, 105, 44, 0.7);
}

.ev-mk-warning {
    background-color: rgba(255, 193, 7, 0.71);
}

.ev-mk-information {
    background-color: rgba(23, 162, 184, 0.71);
}
.marker-cluster-small {
    background-color: rgba(242, 46, 69, 0.53) !important;
}
.marker-cluster-small div {
    background-color: #f90837b3 !important;
}

.ev-pp-location {
    color: #037bfc;
}
.ev-pp-severity{
    color: white;
}
.ev-html-marker p {
    font-size: 13px;
}
body .ui-table .ui-table-tbody > tr > td {
    word-break: break-all;
}

.leaflet-top.leaflet-right {
    display: none !important;
}

.ev-ms-marker {
    background-color: #007bff;
}

.ev-marker-ms {
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.ev-marker-ms span {
    color: black;
    background-color: #ff7300;
    padding: 0 6px;
    border-radius: 0;
    border: 1px solid black;
}

.ev-marker-ms.mr span {
    padding: 4px 9px;
    border-radius: 20px;
}

.ev-ms-marker span {
    color: black;
}
.table-setting-bar{
    padding-top: 6px;
    margin-bottom: 5px;
}
.mg-dropdown-area {
    display: inline-block;
    float: left;
    /*margin-left: 5px;*/
}
.mg-dropdown-menu {
    display: block !important;
    padding: 10px !important;
}

.drop-down-backdrop {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.filter-items {
    float: left;
    margin-left: 5px;
}
.mg-hide {
    display: none !important;
}
