<section class="sw-service" id="impressum">
  <img src="../../../../assets/img/center_back2.png" id="service-split-img">
  <p class="serviceTitle">{{ 'more info' | translate }}</p>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="service-item-outer">
          <img src="../../../../assets/img/setting_ico.png">
          <h4>{{ 'service_item_title1' | translate }}</h4>
          <p>{{ 'service_item_description1' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
