<section class="page-title-outer">
  <div class="container">
    <p class="serviceTitle" id="terms">{{ 'terms of use' | translate }}</p>
  </div>
</section>
<section class="sw-service">
  <img src="../../../../assets/img/center_back2.png" id="service-split-img">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="service-item-outer">
          <img src="../../../../assets/img/setting_ico.png">
          <h4>{{ 'terms_item_title' | translate }}</h4>
          <p>{{ 'terms_item_description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

