.sw-banner-outer {
    position: relative;
}

#banner-bg {
    width: 100%;
}

.sw-banner-slider {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}

.slider-item {
    width: 100%;
}

#banner-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -10%;
    z-index: 1;
}

#serviceMoreInfo {
    margin-bottom: 0;
    font-family: Roboto Condensed;
    font-size: 1.2rem;
    display: inline-block;
    position: absolute;
    bottom: 10%;
    left: 24%;
    color: #ffffff;
    z-index: 1;
    width: 180px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #ffffffa1;
    background-color: #34085985;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none !important;
}

.serviceSubTitle {
    margin-bottom: 0;
    font-family: Roboto Condensed;
    font-size: 24px;
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 22%;
    color: white;
    z-index: 1;
    text-align: center;
}

.serviceTitle {
    background-color: red;
    margin-bottom: 0;
    font-family: Roboto Condensed;
    font-size: 24px;
    display: inline-block;
    position: absolute;
    top: -35px;
    left: 24%;
    color: #fbfbfb;
    z-index: 1;
    min-width: 180px;
    text-align: center;
    padding: 0 10px;
}


#contactus-split-img,
#service-split-img {
    width: 100%;
}

.sw-service {
    margin-top: 4.6%;
    background-color: #cccdcc;
    padding-bottom: 20px;
    position: relative;
}

.service-item-outer h4 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #e40327;
    font-weight: bold;
}

.service-item-outer p {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
    color: #555555;
}

.page-loading {
    position: absolute;
    z-index: 300;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #e2e2e6fc;
    border: 1px solid black;
}

.sw-about-us {
    position: relative;
}

#aboutUsImg {
    width: 100%;
    position: absolute;
}

#aboutUsDescription {
    padding-top: 70px;
    color: #b2afaf;
    overflow: hidden;
    font-size: 20px;
}

#aboutUsTitle {
    background-color: red;
    margin-bottom: 0;
    /*padding: 3px 20px;*/
    font-family: Roboto Condensed;
    font-size: 24px;
    display: inline-block;
    position: absolute;
    /* bottom: -10%; */
    left: 24%;
    color: #fbfbfb;
    z-index: 1;
    width: 180px;
    text-align: center;
    top: 0;
}

.sw-contact-us {
    position: relative;
}

#contactUsTitle {
    background-color: red;
    margin-bottom: 0;
    font-family: Roboto Condensed;
    font-size: 24px;
    display: inline-block;
    position: absolute;
    left: 24%;
    color: #fbfbfb;
    z-index: 1;
    width: 180px;
    text-align: center;
    top: -36px;
}

.sw-about-item {
    margin-top: 10%;
    margin-bottom: 3%;
}

.about-item-outer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px 0;
}

.about-item-outer h4 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #e40327;
    font-weight: bold;
    /*padding: 0 10px 10px 10px;*/
}

.about-item > div {
    padding: 0 20px;
}

.about-item img {
    width: 100%;
}

.about-item p {
    /*padding: 0 10px 10px 10px;*/
}

.about-item {
    display: flex;
    flex-direction: column;
}

.sw-contact-us {
    background-color: #606060;
    padding-bottom: 30px;
}

.contact-info-outer {
    display: flex;
}

.contact-info-outer img {
    width: 240px;
    height: 218px;
}

#googleMap {
    flex: 7;
    height: 218px;
}

#contact-info {
    flex: 3;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-weight: 400;
    font-family: Roboto;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

.gmap_canvas iframe {
    width: 100%;
    height: 100%;
}


@media (min-width: 1920px) {
    .container {
        max-width: 1440px;
    }
}

@media (max-width: 1200px) {
    #aboutUsDescription {
        padding-top: 40px;
        font-size: 20px;
    }

    .contact-info-outer img {
        width: 194px;
        height: 180px;
    }

    #googleMap {
        flex: 3;
        height: 180px;
    }

    #contact-info[_ngcontent-c0] {
        flex: 2;
    }

    #about-us {
        min-height: 360px;
        padding-bottom: 25px;
    }

    #aboutUsImg {
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 992px) {
    #aboutUsDescription {
        padding-top: 35px;
        font-size: 18px;
    }

    .about-item-outer {
        grid-template-columns: auto;
        padding: 0 0;
    }

    .sp-menu-splitter {
        display: none;
    }

    .contact-info-outer {
        display: block;
    }

    .contact-info-outer .img-outer {
        text-align: center;
        margin-bottom: 10px;
    }

    #contact-info {
        margin-top: 10px;
    }

    .service-item-outer h4 {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 20px;
    }

    .about-item-outer h4 {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 20px;
    }

    .sw-about-item {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .serviceSubTitle {
        font-size: 20px;
    }

    #serviceMoreInfo {
        font-size: 1rem;
        width: 150px;
        bottom: 15%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .sw-service {
        margin-top: 3.2%;
    }

    #aboutUsTitle,
    #contactUsTitle,
    .serviceTitle {
        font-size: 20px;
        /*width: 150px;*/
    }

    #contactUsTitle {
        top: -30px;
    }

    #about-us {
        min-height: 360px;
        padding-bottom: 25px;
    }

    #aboutUsImg {
        height: 100%;
        object-fit: cover;
    }

    .serviceTitle{
        top: -22px;
    }

}

