<div class="partners-container">
    <div class="mg-app-component">
        <div class="mg-width-virtual"></div>
    </div>
    <app-partner-table></app-partner-table>
    <app-partner-form *ngIf="partnerFormSt"></app-partner-form>
    <app-partner-contact-table *ngIf="partnerContactSt"></app-partner-contact-table>
    <app-partner-address-table *ngIf="partnerAddressSt"></app-partner-address-table>
    <app-partner-substation-table *ngIf="partnerSubstationSt"></app-partner-substation-table>
    <div class="mg-sb-target"></div>
    <div>
        <div class="mg-width-virtual"></div>
    </div>
</div>
