<!--<div class="events-container">-->
<!--    <as-split #splitEl direction="horizontal" [gutterSize]="9">-->
<!--        <as-split-area size="35">-->
<!--            <div class="ev-sidebar">-->
<!--                <div class="ev-breadcrumb">-->
<!--                    <app-ev-breadcrumb></app-ev-breadcrumb>-->
<!--                </div>-->
<!--                <as-split #splitE2   direction="vertical" [gutterSize]="9">-->
<!--                    <as-split-area size="50">-->
<!--                        <div class="ev-area-container">-->
<!--                            <div class="ev-group-box-title">-->
<!--                                <h5>Alarms</h5>-->
<!--                            </div>-->
<!--                            <div class="ev-alarm-container">-->
<!--                                <app-alarm></app-alarm>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </as-split-area>-->
<!--                    <as-split-area size="50">-->
<!--                        <div class="ev-area-container">-->
<!--                            <div class="ev-group-box-title">-->
<!--                                <h5>Events</h5>-->
<!--                            </div>-->
<!--                            <div class="ev-events-container">-->
<!--                                <app-event-table></app-event-table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </as-split-area>-->
<!--                </as-split>-->
<!--            </div>-->
<!--        </as-split-area>-->
<!--        <as-split-area size="65">-->
<!--            <app-test-http *ngIf="false"></app-test-http>-->
<!--            <app-openstreet-map></app-openstreet-map>-->
<!--        </as-split-area>-->
<!--    </as-split>-->
<!--</div>-->

<golden-layout-root></golden-layout-root>

<!--<div class="events-container">-->
<!--    <as-split #splitEl direction="horizontal" [gutterSize]="9">-->
<!--        <as-split-area size="35">-->
<!--            <div class="ev-sidebar">-->
<!--                <div class="ev-breadcrumb">-->
<!--                    <app-ev-breadcrumb></app-ev-breadcrumb>-->
<!--                </div>-->
<!--                <as-split #splitE2   direction="vertical" [gutterSize]="9">-->
<!--                    <as-split-area size="50">-->
<!--                        <div class="ev-area-container">-->
<!--                            <div class="ev-group-box-title">-->
<!--                                <h5>Alarms</h5>-->
<!--                            </div>-->
<!--                            <div class="ev-alarm-container">-->
<!--                                <app-alarm></app-alarm>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </as-split-area>-->
<!--                    <as-split-area size="50">-->
<!--                        <div class="ev-area-container">-->
<!--                            <div class="ev-group-box-title">-->
<!--                                <h5>Events</h5>-->
<!--                            </div>-->
<!--                            <div class="ev-events-container">-->
<!--                                <app-event-table></app-event-table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </as-split-area>-->
<!--                </as-split>-->
<!--            </div>-->
<!--        </as-split-area>-->
<!--        <as-split-area size="65">-->
<!--            <app-test-http *ngIf="false"></app-test-http>-->
<!--            <app-openstreet-map></app-openstreet-map>-->
<!--        </as-split-area>-->
<!--    </as-split>-->
<!--</div>-->
