<div class="device-type-form mg-op-form mg-app-component" *ngIf="isEnabled" id="device-type-form">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h4>Device Type Details</h4>
                <span (click)="onCloseComponent()"><i class="fa fa-2x fa-close"></i></span>
            </div>
        </div>
        <div class="card-body">
            <div class="ui-g">
                <div class="ui-g-6">
                    <button type="button" class="btn btn-primary op-btn-save" (click)="onSaveFormData()"
                            [disabled]="!isFormChanged">{{ (formMode)?'Add':'Save' }}
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-content-wrap">
                <div class="ui-g">
                    <div class="ui-g-6">
                        <div class="form-group">
                            <label for="msid">MrID</label>
                            <input type="text" class="form-control"
                                   [ngClass]="{'mg-error':(devType.mrid.trim().length == 0)}"
                                   (ngModelChange)="mridChange($event)"
                                   [ngModel]="devType.mrid" id="msid">
                        </div>
                    </div>
                    <div class="ui-g-6">
                        <div class="form-group">
                            <label for="vendor">Vendor</label>
                            <input type="text" class="form-control"
                                   [ngClass]="{'mg-error':(devType.vendor.trim().length == 0)}"
                                   (ngModelChange)="vendorChange($event)"
                                   [ngModel]="devType.vendor" id="vendor">
                        </div>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-6">
                        <div class="form-group">
                            <label for="hwRev">HwRev</label>
                            <input type="text" class="form-control"
                                   [ngClass]="{'mg-error':(devType.hwRev.trim().length == 0)}"
                                   (ngModelChange)="hwRevChange($event)"
                                   [ngModel]="devType.hwRev" id="hwRev">
                        </div>
                    </div>
                    <div class="ui-g-6">
                        <div class="form-group">
                            <label for="swRev">SwRev</label>
                            <input type="text" class="form-control"
                                   [ngClass]="{'mg-error':(devType.swRev.trim().length == 0)}"
                                   (ngModelChange)="swRevChange($event)"
                                   [ngModel]="devType.swRev" id="swRev">
                        </div>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-4">
                        <div class="form-group">
                            <label for="serNum">SerNum</label>
                            <input name="description" class="form-control"
                                   (ngModelChange)="serNumChange($event)"
                                   [ngModel]="devType.serNum" id="serNum">
                        </div>
                    </div>
                    <div class="ui-g-4">
                        <div class="form-group">
                            <label for="model">Model</label>
                            <input name="description" class="form-control"
                                   (ngModelChange)="modelChange($event)"
                                   [ngModel]="devType.model" id="model">
                        </div>
                    </div>
                    <div class="ui-g-4">
                        <div class="form-group">
                            <label for="owner">Owner</label>
                            <input name="description" class="form-control"
                                   (ngModelChange)="ownerChange($event)"
                                   [ngModel]="devType.owner" id="owner">
                        </div>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-6">
                        <div class="form-group">
                            <label for="primeOps">PrimeOps</label>
                            <input type="text" class="form-control"
                                   (ngModelChange)="primeOpsChange($event)"
                                   [ngModel]="devType.primeOps" id="primeOps">
                        </div>
                    </div>
                    <div class="ui-g-6">
                        <div class="form-group">
                            <label for="secondOps">SecondOps</label>
                            <input type="text" class="form-control"
                                   (ngModelChange)="secondOpsChange($event)"
                                   [ngModel]="devType.secondOps" id="secondOps">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-confirmDialog header="Warning!" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>
